<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vacuumhead.bangalore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true" >
        <activity android:name=".MainActivity" 
            android:configChanges="orientation"
    android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB8-7Q_8Oh_WplDa-AgJ-Q_6nkV3tVeWkU" />

        <activity
            android:name=".CalculateFareActivity"
            android:label="@string/title_activity_calculate_fare" 
            android:configChanges="orientation"
    android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserFareActivity"
            android:label="@string/title_user_fare"
            android:textSize="40sp"
            android:configChanges="orientation"
         android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ViewMapActivity"
            android:label="@string/title_activity_view_menu"
            android:configChanges="orientation"
    android:screenOrientation="portrait"
            android:textSize="40sp" >
        </activity>
        <activity
            android:name=".IntermediateStations"
            android:background="@color/grey"
            android:label="@string/title_intermediate_stations"
            android:textSize="40sp"
            android:configChanges="orientation"
    android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.vacuumhead.bangalore.MapActivity"
            android:background="@color/grey"
            android:configChanges="orientation"
    android:screenOrientation="portrait"
            android:textSize="40sp" >
        </activity>
        <activity
            android:name=".LaunchGPS"
            android:screenOrientation="portrait" 
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoogleMapActivity"
            android:label="@string/title_activity_google_map" 
            android:configChanges="orientation"
    android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name=".StationActivity"
            android:label="@string/title_activity_station" 
            android:configChanges="orientation"
    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us" 
            android:configChanges="orientation"
    android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="com.vacuumhead.bangalore.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />   
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>